<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <label for="email">Username/Email:
        <input id="email" type="text" name="email">
    </label><br>
    <label for="password">Password:
        <input id="password" type="password" name="password">
    </label><br>
    <button type="submit">Login</button>
</form>
<form action="/users/registration">
    <button type="submit">Registration</button>
</form>
</body>
</html>