<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<h2>EDIT USER</h2>
<form th:action="@{/users/{userId}/update(userId=${user.id})}" method="post" th:object="${user}">
    <label for="email">Username/Email:
        <input id="email" type="text" name="email" th:value="*{email}">
    </label><br>
    <label for="firstName">Firstname:
        <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
    </label><br>
    <label for="lastName">Lastname:
        <input id="lastName" type="text" name="lastName" th:value="*{lastName}">
    </label><br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <button type="submit">Update</button>
</form>
<form th:action="@{/users/{userId}/delete(userId=${user.id})}" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" method="post">
    <button type="submit">Remove</button>
</form>
<form th:action="@{/users}">
    <button type="submit">Back to users</button>
</form>
</body>
</html>