<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client orders</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<h2>LIST OF YOUR ORDERS</h2>
<div th:each="order : ${orders}">
    <a th:if="${currentUser.getId() == order.getUser().getId()}"
       th:text="|Order from ${order.getBeginTime()} to ${order.getBeginTime()}
        Status: ${order.getOrderStatus()} Message: ${order.getMessage()}|">Order</a>
</div>
<form th:action="@{/orders/make}" th:if="${#authorization.expression('hasAuthority(''CLIENT'')')}">
    <button type="submit">Make new order</button>
</form>
<form th:action="@{/cars/main}">
    <button type="submit">Back to main page</button>
</form>
</body>
</html>