<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<h2>LIST OF CARS</h2>
<div th:each="car : ${cars}">
    <li>
        <img width="150" height="100" th:src="@{/api/v1/cars/{carId}/carImage(carId=${car.id})}"
             alt="No image"><br>
        <a th:href="@{'/cars/' + ${car.id}}" th:text="|${car.model}. ${car.colour}|">Car</a>
    </li>
</div>
<form th:action="@{/cars/car-add}" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
    <button type="submit">Add car</button>
</form>
<form th:action="@{/cars/main}">
    <button type="submit">Back to main page</button>
</form>
</body>
</html>