<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<div th:fragment="header">
    <span th:text="|CURRENT USER: ${#authentication.principal.username}|">Username</span>
    <span th:text="admin" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">UserRole</span>
    <span th:text="client" th:if="${#authorization.expression('hasAuthority(''CLIENT'')')}">UserRole</span>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    <div th:insert="~{fragment :: locale}"></div>
</div>

<div th:fragment="locale">
    <form action="">
        <select name="lang" onchange="this.form.submit()">
            <option></option>
            <option value="en">EN</option>
            <option value="ru">RU</option>
        </select>
    </form>
</div>
</body>
</html>
